/* Custom scrollbar for Webkit browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}

/* Light mode scrollbar */
::-webkit-scrollbar-thumb {
  background-color: #d1d5db; /* gray-300 */
  border-radius: 10px;
  border: 2px solid #ffffff; /* white */
}
::-webkit-scrollbar-thumb:hover {
  background-color: #9ca3af; /* gray-400 */
}

/* Dark mode scrollbar */
.dark ::-webkit-scrollbar-thumb {
  background-color: #374151; /* gray-700 */
  border: 2px solid #000000; /* black */
}
.dark ::-webkit-scrollbar-thumb:hover {
  background-color: #4b5563; /* gray-600 */
}


/* Custom scrollbar for Firefox */
/* Light mode */
html {
  scrollbar-width: thin;
  scrollbar-color: #d1d5db #ffffff;
}

/* Dark mode */
html.dark {
  scrollbar-color: #374151 #000000;
}
